<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yanzhenjie.nohttp.sample">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Main"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".app.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.splash.WelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash.Main"/>
        <activity
            android:name=".app.main.MainPresenter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main.Launcher"/>
        <activity
            android:name=".app.normal.NormalPresenter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/function_normal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main.Launcher"/>
        <activity
            android:name=".app.form.FormPresenter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/function_form"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main"/>
        <activity
            android:name=".app.body.BodyPresenter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/function_body"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main"/>
        <activity
            android:name=".app.download.DownloadPresenter"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/function_download"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main"/>
    </application>
</manifest>